body{
  background-color: #b8b8b8;
  background-image: url(https://ts1.tc.mm.bing.net/th/id/R-C.63d5b5b56c13a332e8e3166d5ad25eb5?rik=X3APh75B3fN0Kg&riu=http%3a%2f%2fimg.pconline.com.cn%2fimages%2fupload%2fupc%2ftx%2fwallpaper%2f1307%2f10%2fc2%2f23151595_1373424485109.jpg&ehk=lr%2fmn25zYXJ1EVHvD%2ft1B4lyNY9rm8u6ws37L%2bMH5NQ%3d&risl=&pid=ImgRaw&r=0);
}

.container{
  position: relative;
  background-color: white;
  margin-top: 5rem;
  width: 60%;
  border-radius: 10px;
  padding: 1em;
}

 .inputInfo{
  display: block;
  width: 50%;
  padding: 2em;
  border-right: 1px solid #c4c2c2;
}

 #tipText {
  height: 3rem;
  margin-bottom: 1rem;
  /* background-color: pink; */
}

.btn.btn-primary{
    width: 100%;
}

#code-btn{
  display: none;
}

.code img{
  position: absolute;
  right: 7%;
  top: 17%;
  width: 20rem;
  height: 20rem;
}

@media (max-width: 768px) {
  .title {
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 2.343rem;
  }

  .title a{
    display: block;
    text-decoration: none;
    color: #9d9d9d;
  }

  .title a:hover{
    color: #0d6efd;
  }

  .inputInfo{
    border-right: 0;
    width: 100%;
    padding-top: 0;
  }
  .code img{
    display: none;
  }
  #code-btn{
    margin-top: 1rem;
    display: block;
  }
}

@media (max-width: 1221px){
  .code{
    display: none;
  }
  .code img{
    display: none;
  }
  .inputInfo{
    border-right: 0;
    width: 100%;
    padding-top: 0;
  }
} 