@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1758027745802') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-arrow-right-bold:before {
  content: "\e993";
}

.icon-a-arrow-right:before {
  content: "\e994";
}

